@font-face {
  font-family: 'Pokemon Solid';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/PokemonSolid.ttf');
}
header {
  margin: 0;
  padding: 0;
  background-color: #9e9d9d;
}
.header_title {
  margin: 0;
  padding: 0;
  font-family: 'Pokemon Solid';
  text-align: center;
  color: #ffcb05;
  text-shadow: 0 0 20px #2a75bb;
  font-size: 4em;
}
