@font-face {
  font-family: 'Pokemon Solid';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/PokemonSolid.ttf');
}
@font-face {
  font-family: 'Pokemon X and Y';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/PokemonXandY.ttf');
}
body {
  background-color: #3d7dca;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-color: #003a70;
}
.header_title {
  margin: 0;
  padding: 0;
  font-family: 'Pokemon Solid';
  text-align: center;
  color: #ffcb05;
  text-shadow: 0 0 20px black;
  font-size: 4em;
}

.menu {
  display: flex;
  background-color: #003a70;
  gap: 10px;
  padding: 5px 15px;
}
.menu > a,
.search_button {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-family: 'Pokemon X and Y';
  color: white;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px;
}
.menu > a:hover {
  background-color: #3d7dca;
  color: black;
  transition: 0.2s;
}
.card {
  text-align: center;
  border-radius: 10px;
  align-self: auto;
  background-color: #f2f2f2;
  margin: 5px;
  padding: 0px 30px;
}
.card > h1 {
  text-transform: capitalize;
  font-family: 'Pokemon X and Y';
}
.container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.card:hover {
  cursor: pointer;
  background-color: rgb(112, 112, 112);
}
.search_button {
  background-color: transparent;
  border: 0;
  margin-left: auto;
}
.search_button:hover {
  background-color: #3d7dca;
  color: black;
  transition: 0.2s;
  cursor: pointer;
}
